input {
  border-radius:7px;
  border-width:0.05rem;
  width: 100%;
  padding-top:0;
  margin: 0 auto 0.5 auto;
}

label {
  font-weight: bold;
  margin-bottom:0;
  width:100%;
}

textarea {
  border-radius:7px;
  border-width:0.05rem;
  width: 100%;
  margin-bottom:5px;
}

.submit-btn {
  width:6rem;
  height:7%;
  background-color: #ff7b5c;
  color:white !important;
  border-radius: 5rem !important;
  margin-top : 0;
}

.flex-form {
  display:flex;
  flex-flow: wrap;
  justify-content:  space-around;
  width:35%;
  background-color: white;
  height:25rem;
  border-radius:2rem;
}

h3 {
  text-align:center;
}