.petr {
  height:30%;
  margin: auto
}

.flex-container {
  display:flex;
  flex-flow: row wrap;
  justify-content:  space-around;
  padding: 20px;
  height:40rem;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .flex-container {
    display:flex;
    flex-flow: column;
    justify-content:  center;
    align-items:center;
    padding: 20px;
    margin: 50px;
    height:40rem;
    width: 100%;
  }
}