.base {
  width: 100%;
  height: 100%;
  background-color: #ff7b5c;
}

body {
  background-color: #ff7b5c;
}

.petr {
  height:20%;
}

.formRow {
  background-color: white;
  border-radius: 2rem;
  height:20rem;
  text-align: center;
}
